/*
    Document   : custom styles to modify the default Bulma style.
    Created on : Apr 12, 2023, 9:10:33 AM
    Author     : Sadik Al Barid
*/

/*Import the google font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css2?family=Nunito');

/*Global styles*/
body {
    font-family: 'Noto Sans', sans-serif;
}

/*Global style for any card*/
.card {
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

/*Custom styles for input fields*/
.custom-input {
    background-color: #1E2E3D;
}
.custom-input::placeholder {
    color: #4F5B62;
}

/*Background styles for the login page section.*/
.loginpage-bg {
    background: #1E2E3D; /*fallback for old browsers*/
    background: -webkit-linear-gradient(to right, #1E2E3D, #141E28); /*Chrome 10-25, Safari 5.1-6*/
    background: linear-gradient(to right, #1E2E3D, #141E28); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
}

/*Background styles for the login form.*/
.loginform-bg {
    background: #273444;
    min-width: 480px;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

/*Background styles for the registration form.*/
.form-bg {
    background: #273444;
    max-width: 500px;
    padding: 1rem;
}

/*Navigation bar custom styles*/
.navbar {
    background: #141E28;
}
.navbar-menu {
    background: #141E28;
}
.navbar-link{
    background: #141E28 !important;
}
.navbar-dropdown {
    background: #141E28;
}
.navbar-item:hover {
    background-color: #1C2430 !important;
}
.navbar-link:hover {
    background-color: #1C2430 !important;
}
.navbar-item:active,
.navbar-item:focus {
    background-color: #1D2632 !important;
}
.navbar-link:active,
.navbar-link:focus {
    background-color: #1D2632 !important;
}

/*backgroung color for home, dashboard, courses etc.*/
.home-bg {
    background: #141E28;
}

/*Custom style for the name acronym card*/
.navbar-end .card {
    border-radius:50%;
    border-width: 5px;
    border-style: solid;
    border-color: #00B594;
    background-color: #00B594;
    width: 40px;
    height: 40px;
}

/*Custom style for the course card*/
.custom-card {
    border-radius: 7px !important;
}
.custom-card .card-content {
    height: 30px;
    overflow: hidden;
}
.custom-card .card-content .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.custom-card .card-content .content:hover:before::after {
    content: attr(title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    padding: 8px;
    white-space: pre-wrap;
    max-width: 300px;
    text-align: center;
}

/*Custom homepage bg*/
#home {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Custom explore button*/
.explore-button {
    font-family: 'Nunito', sans-serif;
    color: #141E28 !important;
    position: absolute;
    top: 79%;
    left: 25%;
    transform: translate(-79%, -25%);
}

/*Custom style for the course card*/
#course-card {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}
#course-card .modal-card {
    width: 100%;
    height: 100%;
    max-width: calc(100vw - 10rem);
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
}

/*Custom styles for create course dorpdown menu*/
#dropdown-menu-plus .dropdown-content {
    background: #6F7782;
}
#dropdown-menu-plus .dropdown-item:hover {
    background-color: #6F7782 !important;
    color: #B6B6B6 !important;
}

/*Custom styles for sign out dorpdown menu*/
#dropdown-menu-exit .dropdown-content {
    background: #1E2E3E;
}
#dropdown-menu-exit .dropdown-item:hover {
    background-color: #273444 !important;
}

/*Select2 customization*/
.select2-search {
    background-color: #1E2E3E !important;
}
.select2-search input {
    outline: none !important;
    border: none !important;
    padding: 4px 6px !important;
    background: #364354 !important;
}
.select2-results {
    background-color: #1E2E3E !important;
    color: #DBDBDB !important;
    border: 1px solid #485FC7;
}
.select2-selection {
    background-color: #1E2E3E !important;
    border-color: #485FC7 !important;
}
.select2-results__option--highlighted {
    background-color: #273444 !important;
}
.select2-results__option--selected {
    background-color: #364354 !important;
}
.select2-selection__rendered {
    color: #fff !important;
}

